@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Kolker+Brush&family=Roboto:wght@400;500;700;900&display=swap');
:root{
    --head-font: 'Roboto', sans-serif;
    --text-font: 'Josefin Sans', sans-serif
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    min-height: 100vh;
    background-color: #202020;
}

/* ********************************************************* */
header nav{
    padding: 5px 15px;
    border-bottom:1px solid #0092cc;
}
header nav h1{
    font-size: 3em;
    color: #0092cc;
    line-height: 80%;
    font-family: 'Kolker Brush', cursive;
}

/* ********************************************************* */
main{
    width: 1200px;
    margin: 50px auto;
}

/* ************************** */

.movies h3{
    text-align: center;
    font-family: var(--head-font);
}
.accordion{
    list-style: none;
}
.accordion .accordion-control{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.1em;
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 20px;
    color: #0092cc;
    font-family: var(--head-font);
    border: 1px solid #fff;
    background: none;
    transition: all .5s;
    text-align: left;
}
.accordion .accordion-control.active{
    border-bottom: none;
}
.accordion .accordion-control:hover{
    box-shadow: 0px 0px 10px #5cc4ec;
}
.accordion .accordion-control.active:hover{
    box-shadow: none;
}
.accordion-panel {
    display: none;
    padding: 10px 15px;
    font-size: 1.08em;
    font-family: var(--text-font);
    background-color: #444444;
    border: 1px solid #fff;
    border-top: none;
}
.accordion-panel .movie-info{
    display: flex;
    justify-content: space-between;
}
.accordion-panel .movie-info figure{
    flex: 2;
    text-align: center;
}
.accordion-panel .movie-info figure img{
    max-width: 220px;
}
.accordion-panel .movie-info p{
    flex: 5;
    line-height: 1.5em;
    padding: 10px 15px;
}