#photo-viewer{
  margin: 15px;
}
#photo-viewer .photo-box {
  position: relative;
  display: block;
  width: 800px;
  height: 450px;
  max-width: 100%;
}
#photo-viewer .photo-box.is-loading::after {
  content: "Loading...";
  position: absolute;
  z-index: 10;
  color: #fff;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}
#photo-viewer .photo-box img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  border: 5px solid skyblue;
  border-radius: 5px;
}
#photo-viewer .photo-thumbnails{
  margin: 20px auto;
}
#photo-viewer .thumbnail-anchor img {
  width: 80px;
  height: 45px;
}
#photo-viewer .thumbnail-anchor.active img {
  border: 2px solid skyblue;
  border-radius: 2px;
}
